[Unit]
Description=Retraining Service
After=multi-user.target
[Service]
Type=simple
Restart=always
Environment="PYTHONPATH=/app"
ExecStart=python3 /app/services/retraining/mainRetrainingService.py > /proc/1/fd/1 2>&1 &
[Install]
WantedBy=multi-user.target