[Unit]
Description=Simulator Service
After=multi-user.target
[Service]
Type=simple
Restart=always
Environment="PYTHONPATH=/app"
ExecStart=/home/ubuntu/.virtualenvs/OptimizationAutonomousVehiclesADS/bin/python3 /opt/tfm/OptimizationAutonomousVehiclesADS/DigitalModel/services/simulator/mainRandomSamplesGeneratorService.py
[Install]
WantedBy=multi-user.target