[Unit]
Description=Simulator Service
After=multi-user.target
[Service]
Type=simple
Restart=always
Environment="PYTHONPATH=/app"
ExecStart=python3 /app/services/simulator/mainRandomSamplesGeneratorService.py > /proc/1/fd/1 2>&1 &
[Install]
WantedBy=multi-user.target